<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="website.timrobinson.opencvtutorial">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.front.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ComplementarioActivity"
            android:label="@string/title_activity_complementaria">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TriadaActivity"
            android:label="@string/title_activity_triada" />
        <activity
            android:name=".ComplementariaPorSeparadoActivity"
            android:label="@string/title_activity_complementaria_por_separado" />
        <activity
            android:name=".AnalogaActivity"
            android:label="@string/title_activity_analoga" />
        <activity
            android:name=".TetradaActivity"
            android:label="@string/title_activity_tetrada" />
        <activity android:name=".CuadradoActivity"></activity>
    </application>

</manifest>